Package: com.chpwn.mx.mobilelaunchpad
Name: MobileLaunchpad
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: chpwn
Author: chpwn
Section: Utilities
